@charset "utf-8";
/* CSS Document */
.fudongr{float:right}
.fudongl{float:left;}
.dingbu{width:100%; height:10%; float:right; margin-top:15px; margin-left:auto; margin-right:auto;}
.dingbu1{float:right; margin-right:10px; background-color:#09F; height:20px; width:70px;  text-align:center;}
.a1{font-size:12px; color:#FFF; line-height:20px; text-decoration:none; position:relative;}
a.a1 span{display:none;}
a.a1:hover span{display:block; position:absolute;}
.dingbu2{padding-right:10px; line-height:20px; font-size:12px;}
.denglu{padding-right:10px;}
ul{list-style:none; float:right; line-height:20px; margin:0; padding-right:20px; width:700px;}
ul li{float:right; font-size:12px; font-weight:bold;}
ul a{display:block; padding:0 20px;}
ul a:hover{color:blue;}
.sousuo{width:100%; float:left; margin-left:auto; margin-right:auto;}
.search_box{width:700px; padding-top:15%; padding-left:27%; float:left; background:url(baidu.png) no-repeat 69% 50%; float:left;}
.search_text{width:75%; height:13px; line-height:14px; padding:11px 5px 10px 5px; background:#FFF; float:left; font-size:18px;}
.search_btn{display:block;width:110px;height:38px; line-height:39px; text-align:center; font-family:arial,verdana,sans-serif, '新宋体'; font-size:14px; color:#FFF; background-color:#1A8CFF; text-decoration:none; border:none; cursor:pointer}

